<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJQdZ3cPsP4doxX6DqP4u1kjyD0lby0m4</string>
	<key>GCM_SENDER_ID</key>
	<string>704839872446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoangshpy.SnapStep</string>
	<key>PROJECT_ID</key>
	<string>my-snapstep</string>
	<key>STORAGE_BUCKET</key>
	<string>my-snapstep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704839872446:ios:453b4be986b795c88793ef</string>
</dict>
</plist>